<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.spi">

    <uses-permission android:name="com.poynt.diagnostics.DIAGNOSTICS_PROVIDER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="poynt.diagnostics.service"
            android:value="com.sample.diagnostics.SampleDiagnosticsService" />
        <service
            android:name="com.sample.diagnostics.SampleDiagnosticsService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.poynt.diagnostics.RUN_DIAGNOSTICS"/>
        <service
            android:name=".SecuritySPIService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="co.poynt.vendor.services.v1.IPoyntPaymentSecuritySPI" />
            </intent-filter>

            <meta-data
                android:name="co.poynt.os.service.capability"
                android:resource="@xml/security_spi_capabilities" />
        </service>
        <service
            android:name=".PaymentSPIService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="co.poynt.vendor.services.v1.IPoyntPaymentSPI" />
            </intent-filter>

            <meta-data
                android:name="co.poynt.os.service.capability"
                android:resource="@xml/spi_capabilities" />
        </service>

        <receiver
            android:name=".EmvConfigsUpdateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="poynt.intent.action.EMV_CONFIGS_UPDATED" />
                <action android:name="poynt.intent.action.TERMINAL_CONFIG_UPDATED" />
                <action android:name="poynt.intent.action.AID_CONFIG_UPDATED" />
                <action android:name="poynt.intent.action.EMV_CA_PUBLIC_KEY_UPDATED" />
                <action android:name="poynt.intent.action.DELETE_ALL_CONFIG" />
                <action android:name="poynt.intent.action.DESTROY_ALL_CONFIG" />
                <action android:name="poynt.intent.action.DELETE_AID_CONFIG" />
                <action android:name="poynt.intent.action.DELETE_ALL_AID_CONFIG" />
                <action android:name="poynt.intent.action.DELETE_EMV_CA_PUBLIC_KEY" />
                <action android:name="poynt.intent.action.DELETE_ALL_EMV_CA_PUBLIC_KEY" />
                <action android:name="poynt.intent.action.ADD_REVOCATION_LIST_ENTRY" />
                <action android:name="poynt.intent.action.DELETE_REVOCATION_LIST_ENTRY" />
                <action android:name="poynt.intent.action.DELETE_ALL_REVOCATION_LIST_ENTRY" />
                <action android:name="poynt.intent.action.ADD_EXCEPTION_LIST_ENTRY" />
                <action android:name="poynt.intent.action.DELETE_EXCEPTION_LIST_ENTRY" />
                <action android:name="poynt.intent.action.DELETE_ALL_EXCEPTION_LIST_ENTRY" />
                <action android:name="poynt.intent.action.DELETE_AID_CONFIG_WITH_MATCHING_TLV" />
            </intent-filter>
        </receiver>
    </application>

</manifest>